body {
    margin: 0;
    font-family: "Roboto", "sans-serif";
}

h2 {
    font-family: "Roboto", "sans-serif";
}

p {
    margin: 0;
}

.container {
    margin: auto;
    max-width: 1219px;
    padding: 0 55px 0 55px;
}

.header {
    background-color: #007765;
    height: 85px;
    position: fixed;
    width: 100%;
    top: 0px;
 /*   background-color: rgba(100, 100, 100, 0.5); */
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 20px 45px;
    height: 45px;
}

.nav-links {
    margin: auto 55px;
    color: white;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.nav-links a {
    font-size: 24px;
    margin: 0 8px;
    color: white;
    text-decoration: none;
}

.jumbotron {
    margin-top: 85px;
    background: url("img/image-7.png") no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-text {
    color: white;
    font-size: 72px;
}

.the-problem {
    padding: 133px 0 90px 0;
    margin-top: -85px;
}

.the-problem-header {
    color: #007765;
    font-size: 64px;
    text-align: center;
    margin: 0;
}

.the-problem-paragraph {
    font-size: 32px;
    margin: 16px 0 0 0;
}

.hero {
    height: 485px;
    background: url("img/image-6.png") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    color: #ffffff;
    font-size: 48px;
    font-style: oblique;
    text-align: center;
}

.hero .container {
    padding: 0 165px 0 165px;
}