body {
    margin: 0;
    font-family: "Roboto", "sans-serif";
}

.container {
    margin: auto;
    max-width: 1219px;
    padding: 0 55px 0 55px;
}

.header {
    background-color: #007765;
    height: 85px;
    position: fixed;
    width: 100%;
    top: 0px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 20px 45px;
    height: 45px;
}

.nav-links {
    margin: auto 55px;
    color: white;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.nav-links a {
    font-size: 24px;
    margin: 0 8px;
    color: white;
    text-decoration: none;
}

.hero {
    margin-top: 85px;
    background-image: url("img/image-7.png");
    height: 400px;
    display: flex;
    align-items: center;
}

.hero-text {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 72px;
}